body {
    background-color: #141414;
    font-family: 'Roboto', sans-serif
}

p {
    margin: 0 
}

.bg-dark {
    background-color: #242424 !important;
    color: #d9d9d9 !important
}

.secondary-color {
    background-color: #ff69b4
}

.navbar-dark .navbar-nav .nav-link {
    color: #d9d9d9;
    font-size: 1.125rem
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff69b4
}

.news:hover {
    text-decoration: none;
    background-color: #1a1a1a
}

.news-title {
    font-size: 1rem;
    color: #d9d9d9;
    font-weight: 700
}

.news-description {
    font-size: .9rem;
    color: #c2c2c2
}

.custom-link {
    color: #ff69b4
}

.custom-link:hover {
    color: #ff69b4
}